// footer
footer.footer 
	.wrapper 
		.title.title--center КОНТАКТЫ
		.footer__row 
			.footer__col 
				p.footer__text NUMBER : 
					a(href="tel:+79636758857") 7 963 675 - 88 - 57
				p.footer__text MAIL : 
					a(href="mailto:INFO@SOL-GOS.RU") INFO@SOL-GOS.RU
			.footer__col 
				.footer__social 
					.footer__social-col 
						a(href="#") 
							img(src="img/fb.svg", alt="")
						a(href="#") 
							img(src="img/yt-btn.svg", alt="")
					.footer__social-col 
						a(href="#") 
							img(src="img/sk.png", alt="")
// /footer