// header
header.header#header
	.wrapper
		.header__container

			a(href="#").logo
				img(src="img/logo.svg", alt="")

			.header__col
				// menu
				//- .menu--left .menu--right
				.js-menu.menu.menu--right
					#menu-btn.menu__btn.hamburger.hamburger--squeeze
						.hamburger-box
							.hamburger-inner
					nav.menu__nav
						ul.menu__list
							li.menu__child
								a(href="#") Наши продукты
								ul.menu__sublist 
									li
										a(href="#") Лицензионная подписка на SOL
									li
										a(href="#") Виджет обратного звонка
										<svg width="71" height="36" viewBox="0 0 71 36" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" clip-rule="evenodd" d="M35.2158 35.2161L35.2158 0C35.2158 19.4493 19.4491 35.2161 -0.000230421 35.2161L35.2158 35.2161Z" fill="#97CFEE"/>
											<path fill-rule="evenodd" clip-rule="evenodd" d="M35.2156 35.2161L70.4316 35.2161C50.9824 35.2161 35.2156 19.4493 35.2156 1.21801e-05L35.2156 35.2161Z" fill="#97CFEE"/>
										</svg>
							li
								a(href="#") Стать партнёром
							li
								a(href="#") О компании
						#menu-close.menu__close
					#menu-over.menu__over
				// /menu
			
				a(href="#").btn.btn--transparent.modal-trigger(data-modal="#modalCallback").tablet-hide Оставить заявку

// /header