// section9
section.section9.section9--2
  img(src="img/sphere_2.svg", alt="").section9__sphere
  .wrapper
    .section9__content
      h2.section9__title Сделайте свой бизнес доступнее с SOL — заслужите доверие каждого клиента
      a(href="#").btn.btn--brownD.modal-trigger(data-modal="#modalCallback") Оставить заявку
// /section9