extends blocks/base.pug

block title 
	title Виджет обратного звонка

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	.page

		include blocks/header.pug
		
		.content.content--pt
			
			// section10
			section.section10
				img(src="img/sphere_5.svg", alt="").section10__sphere
				.wrapper
					h1.title.title--center Виджет обратного звонка
				.section10__body 
					.wrapper
						.section10__row 
							.section10__content 
								.section10__text 
									h3 Для любого сайта, который хотят сделать доступным для глухих
									p Глухие клиенты через сайт нажимают на кнопку «позвонить через сурдоперевочдика»
									p При совершении звонка, вызов поступает удаленному сурдопереводчику через видео-канал (сервер SOL, протокол WebRTC);
									p После приема звонка сурдопереводчиком, автоматически осуществляется звонок в контакт-центр компании.
								.btn.btn--brownD.modal-trigger(data-modal="#modalCallback") Оставить заявку
							.section10__img 
								img(src="img/image_1.png", alt="")
			// /section10

			// section11
			section.section11
				.wrapper
					h2.title.title--center УСТАНОВКА ВИДЖЕТА НА САЙТ
					.row 
						.section11__col 
							.section11__item
								.section11__text Подайте заявку и мы свяжемся с вами для уточнения деталей
								.section11__num 1
						.section11__col 
							.section11__item
								.section11__text После покупки лицензии, виджет  поставляется в виде js-кода Устанавливается заказчиком на сайт самостоятельно. 
								.section11__num 2
						.section11__col 
							.section11__item
								.section11__text Сотрудник компании,  совместно с сурдопереводчиком осуществляет обратный звонок по заявке в течение 60 минут
								.section11__num 3
						img(src="img/arrow_1.svg", alt="").section11__arrow.section11__arrow--1
						img(src="img/arrow_2.svg", alt="").section11__arrow.section11__arrow--2
			// /section11

			// section12
			section.section12
				.section12__container
					.wrapper
						h2.title.title--center ЧТО ВХОДИТ В ВИДЖЕТ
						.row 
							.section12__col 
								.section12__item
									.section12__icon 
										img(src="img/hand_1.svg", alt="")
									.section12__content 
										h3 Обеспечение доступности веб ресурсов
										p Виджет отображается в форме кнопки обратного звонка на сайте
							.section12__col 
								.section12__item
									.section12__icon 
										img(src="img/hand_2.svg", alt="")
									.section12__content 
										h3 120 минут сурдоперевода
										p Действуют в течение 1 года
							.section12__col 
								.section12__item
									.section12__icon 
										img(src="img/hand_3.svg", alt="")
									.section12__content 
										h3 Запись и хранение переводов
										p Возможна запись сессий и их хранение до 30 суток
							.section12__col 
								.section12__item
									.section12__icon 
										img(src="img/hand_4.svg", alt="")
									.section12__content 
										h3 Техническая поддержка
										p Обеспечение технической поддержки
						.section12__important
							.section12__imptitle Важно!
							.section12__imptext Вы получаете виджет в формате JS кода, далее самостоятельно устанавливаете виджет на свой веб-ресурс.
						.section12__priceblock 
							.section12__priceitem.modal-trigger(data-modal="#modalCallback")
								.section12__name Виджет на сайт
								.section12__price Цена: 10 000
								.btn.btn--brown Оставить заявку
							.section12__priceitem.modal-trigger(data-modal="#modalCallback")
								.section12__name.section12__name--small Кастомизация под фирменный стиль
								.section12__price Цена: 16 000
								.btn.btn--brown Оставить заявку
			// /section12

			// section13
			section.section13
				h2.title.title--center ПОЧЕМУ ЭТО ВЫГОДНО?
			
			// /section13
			
		include blocks/footer.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")