extends blocks/base.pug

block title 
	title Уже подключены

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	//- link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	.page

		include blocks/header.pug
		
		.content.content--pt
			
			// section23
			section.section23
				.wrapper
					h1.title.title--center УЖЕ ПОДКЛЮЧЕНЫ
					.section23__row 
						.section23__content 
							ul.section23__list 
								li Россия
									ul.section23__sublist 
										li Москва
										li Казань
										li Санкт-Петербург
										li Сургут
							ul.section23__list 
								li Казахстан
									ul.section23__sublist 
										li Нур-Султан
							ul.section23__list 
								li Узбекистан
									ul.section23__sublist 
										li Ташкент
						.section23__img 
							img(src="img/map.svg", alt="")
			// /section23

			// section24
			section.section24
				.wrapper
					h2.title.title--center СПИСОК ПОДКЛЮЧЕННЫХ КЛИЕНТОВ
					.section13__container
						.section13__table
							.section13__tr 
								.section13__th.section13__th--2 Страна
								.section13__th.section13__th--2 Город
								.section13__th.section13__th--2 Учреждения
							.section13__tr 
								.section13__td.section13__td--2 Россия
								.section13__td.section13__td--2 Москва
								.section13__td.section13__td--2 ООО “Нефтегаз” транснефть учреждение
							.section13__tr 
								.section13__td.section13__td--2 Россия
								.section13__td.section13__td--2 Москва
								.section13__td.section13__td--2 ООО “Нефтегаз” транснефть учреждение
							.section13__tr 
								.section13__td.section13__td--2 Россия
								.section13__td.section13__td--2 Москва
								.section13__td.section13__td--2 ООО “Нефтегаз” транснефть учреждение
							.section13__tr 
								.section13__td.section13__td--2 Россия
								.section13__td.section13__td--2 Москва
								.section13__td.section13__td--2 ООО “Нефтегаз” транснефть учреждение
							.section13__tr 
								.section13__td.section13__td--2 Россия
								.section13__td.section13__td--2 Москва
								.section13__td.section13__td--2 ООО “Нефтегаз” транснефть учреждение
			// /section24

			include blocks/section-9.pug
			
		include blocks/footer-2.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	//- script(src="js/libs/slick.min.js")
	script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")