extends blocks/base.pug

block title 
	title Клиентам

block style-libs
	//- link(rel="stylesheet", href="css/libs/bootstrap-grid.min.css")
	//- link(rel="stylesheet", href="css/libs/fullpage.css")
	//- link(rel="stylesheet", href="css/libs/hamburgers.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.fancybox.min.css")
	//- link(rel="stylesheet", href="css/libs/jquery.mmenu.all.css")
	//- link(rel="stylesheet", href="css/libs/jquery.scrollbar.css")
	link(rel="stylesheet", href="css/libs/slick.css")
	//- link(rel="stylesheet", href="css/libs/tooltipster.bundle.min.css")
	//- link(rel="stylesheet", href="css/libs/aos.css")

block content

	.page

		include blocks/header.pug
		
		.content.content--pt

			// section16
			section.section16
				.wrapper
					h1.title.title--center Клиентам
					.section16__slider 
						#slickSlider2
							img(src="img/for-partners-slider.jpg", alt="")
							img(src="img/for-partners-slider.jpg", alt="")
							img(src="img/for-partners-slider.jpg", alt="")
			// /section16

			// section10
			section.section10.section10--2
				img(src="img/sphere_5.svg", alt="").section10__sphere
				.wrapper
					h1.title.title--center ПЕРЕЧЕНЬ ССЫЛОК <br>ДЛЯ ИНФОРМАЦИИ
				.section10__body 
					.wrapper
						.section10__row 
							.section10__content 
								.section10__link
									a(href="#") Ссылка 1
								.section10__link
									a(href="#") Ссылка 2
								.section10__link
									a(href="#") Ссылка 3
								.section10__link
									a(href="#") Ссылка 4
								.section10__link
									a(href="#") Ссылка 5
								.section10__link
									a(href="#") Ссылка 6
							.section10__img 
								img(src="img/image_1.png", alt="")
			// /section10

			// section17
			section.section17
				.wrapper
					h2.title.title--center ХРАНИЛИЩЕ
					.row
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 1
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 2
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 3
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 4
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 5
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 6
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 7
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 8
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 9
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 10
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 11
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 12
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 13
						.section17__col 
							a(href="#").section17__link
								<svg width="50" height="56" viewBox="0 0 50 56" xmlns="http://www.w3.org/2000/svg">
									<g clip-path="url(#clip0)">
									<path d="M37.6192 0.367049L37.6078 0.355654C37.3827 0.124904 37.0728 -0.00329056 36.7505 -0.000441797H19.8219C16.5347 0.00145738 13.8703 2.65366 13.8694 5.92689V8.40436H5.95247C2.66536 8.40531 0.000953616 11.0585 0 14.3317V49.267C0.000953616 52.5403 2.66536 55.1934 5.95247 55.1944H30.1791C33.4662 55.1934 36.1306 52.5403 36.1316 49.267V46.7896H44.0485C47.3356 46.7886 50 44.1355 50.001 40.8622V13.1703C49.999 12.856 49.8751 12.5541 49.6557 12.3281L37.6192 0.367049ZM37.9406 4.04195L45.9529 12.008H41.5128C39.5426 12.0023 37.9472 10.4127 37.9415 8.45184V4.04195H37.9406ZM30.1781 52.8242H5.95247C3.9823 52.8185 2.3869 51.2289 2.38118 49.268V14.3326C2.3869 12.3708 3.9823 10.7821 5.95247 10.7764H14.6428C14.9126 10.8714 15.2064 10.8714 15.4762 10.7764H21.7024V16.8576C21.7033 20.1308 24.3678 22.784 27.6549 22.7849H33.7618V49.268C33.7504 51.2317 32.1502 52.8185 30.1781 52.8242ZM32.0949 20.4129H27.6549C25.6847 20.4072 24.0893 18.8185 24.0836 16.8566V12.4468L32.0949 20.4129ZM44.0475 44.4184H36.1306V21.5751C36.1287 21.2608 36.0047 20.9598 35.7854 20.7338L23.7622 8.77185L23.7508 8.76046C23.5257 8.52971 23.2158 8.40151 22.8944 8.40531H16.2496V5.92689C16.2553 3.96504 17.8507 2.37638 19.8209 2.37068H35.5708V8.45184C35.5718 11.7251 38.2362 14.3782 41.5233 14.3792H47.6188V40.8622C47.6141 42.8241 46.0177 44.4127 44.0475 44.4184Z"/>
									<path d="M7.21404 29.9803H19.2735C19.9315 29.9803 20.4636 29.4495 20.4636 28.7952C20.4636 28.14 19.9305 27.6101 19.2735 27.6101H7.21404C6.557 27.6101 6.02393 28.1409 6.02393 28.7952C6.02297 29.4495 6.557 29.9803 7.21404 29.9803Z"/>
									<path d="M28.9164 36.0142H7.21404C6.557 36.0142 6.02393 36.545 6.02393 37.1992C6.02393 37.8535 6.557 38.3843 7.21404 38.3843H28.9164C29.5735 38.3843 30.1065 37.8535 30.1065 37.1992C30.1065 36.545 29.5735 36.0142 28.9164 36.0142Z"/>
									<path d="M28.9164 44.4189H7.21404C6.557 44.4189 6.02393 44.9498 6.02393 45.604C6.02393 46.2583 6.557 46.7891 7.21404 46.7891H28.9164C29.5735 46.7891 30.1065 46.2583 30.1065 45.604C30.1065 44.9498 29.5735 44.4189 28.9164 44.4189Z"/>
									<path d="M42.7863 27.6091H39.155C38.4979 27.6091 37.9648 28.14 37.9648 28.7942C37.9648 29.4485 38.4979 29.9793 39.155 29.9793H42.7863C43.4434 29.9793 43.9764 29.4485 43.9764 28.7942C43.9764 28.14 43.4434 27.6091 42.7863 27.6091Z"/>
									<path d="M42.7863 36.0142H39.155C38.4979 36.0142 37.9648 36.545 37.9648 37.1992C37.9648 37.8535 38.4979 38.3843 39.155 38.3843H42.7863C43.4434 38.3843 43.9764 37.8535 43.9764 37.1992C43.9764 36.545 43.4434 36.0142 42.7863 36.0142Z"/>
									</g>
									<defs>
									<clipPath id="clip0">
									<rect width="50" height="55.1948" fill="white"/>
									</clipPath>
									</defs>
								</svg>
								span Документ 14
			// /section17
			
			include blocks/section-9.pug
			
		include blocks/footer-2.pug

block js-libs
	script(src="js/libs/jquery.min.js")
	//- script(src="js/libs/jquery.fancybox.min.js")
	script(src="js/libs/slick.min.js")
	//- script(src="js/libs/jquery.matchHeight-min.js")
	//- script(src="js/libs/jquery.inputmask.min.js")
	//- script(src="js/libs/autosize.min.js")
	//- script(src="js/libs/tooltipster.bundle.min.js")
	//- script(src="js/libs/jquery.mmenu.min.all.js")
	//- script(src="js/libs/fullpage.min.js")
	//- script(src="js/libs/jquery.vide.min.js")
	//- script(src="js/libs/jquery.scrollbar.min.js")
	//- script(src="js/libs/aos.js")
	//- script(src="js/libs/circle-progress.min.js")
	//- script(src="js/libs/bootstrap.bundle.min.js") 
	//- script(src="http://api-maps.yandex.ru/2.1/?lang=ru_RU")
	//- script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDArYzQvxn3CL3pB92Iqn9gaDltBFLfF4Y")