.header {
  width: 100%;
  position: absolute;
  z-index: 6;
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 33px 0;
  }
  &__col {
    display: flex;
    align-items: center;
  }
  .btn {
    margin-left: 40px;
  }
  @media (max-width: $break_lg) {
    &__container {
      padding: 0;
    }
  }
}

.logo {
  max-width: 180px;
  @media (max-width: $break_lg) {
    max-width: 120px;
  }
}