.menu {
	position: relative;
	&__nav {
		transition: .5s;
	}
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -40px;
		> li {
			margin-left: 40px;
		}
		a {
			display: block;
			padding: 40px 0;
			color: #5F5F5F;
			&:hover {
				color: $blueT;
			}
		}
	}
	&__btn {
		display: none;
	}
	&__sublist {
		padding: 28px;
		background-color: #97CFEE;
		border-radius: 20px;
		position: absolute;
		white-space: nowrap;
		position: absolute;
		top: calc(100%);
		left: 0;
		z-index: 5;
		opacity: 0;
		visibility: hidden;
		transition: 0.1s;
		li {
			
		}
		a {
			padding: 5px 0;
			&:hover {
				color: $black;
			}
		}
		svg {
			position: absolute;
			bottom: calc(100% - 2px);
			left: 10px;
		}
	}
	&__sphere {
		display: none;
	}
	@media (min-width: $break_md + 1) {
		&__child {
			&:hover {
				> a {
					color: $blueT;
				}
				.menu__sublist {
					opacity: 1;
					visibility: visible;
				}
			}
		}
	}
	@media (max-width: $break_md) {
		&__nav {
			width: 100%;
			max-width: 600px;
			padding: 50px 20px;
			background-color: #fff;
			position: fixed;
			top: 0;
			bottom: 0;
			overflow-y: auto;
			z-index: 10;
		}
		&__list {
			display: block;
			position: relative;
			z-index: 2;
			li {

			}
			a {
				padding: 5px 0;
				margin: 0;
				color: $black;
			}
		}
		&__sublist {
			padding: 0 10px;
			position: static;
			visibility: visible;
			opacity: 1;
			background-color: #fff;
			position: relative;
			a {
				&:hover {
					color: $blueT;
				}
			}
			svg {
				display: none;
			}
		}
		&__btn {
			display: inline-block;
		}
		&__over {
			display: none;
			background-color: rgba(0,0,0,.5);
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 9;
		}
		&__close {
			width: 20px;
			height: 20px;
			position: absolute;
			top: 20px;
			right: 20px;
			&:after,&:before {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				background-color: $black;
				position: absolute;
				top: 50%;
			 	left: 50%;
			}
			&:after {
				transform: translate(-50%,-50%) rotate(45deg);
			}
			&:before {
				transform: translate(-50%,-50%) rotate(-45deg);
			}
		}
		&--left {
			.menu__nav {
				left: -800px;
			}
			&.open {
				.menu__nav {
					left: 0;
				}
				.menu__over {
					display: block;
				}
			}
		}
		&--right {
			.menu__nav {
				right: -800px;
			}
			&.open {
				.menu__nav {
					right: 0;
				}
				.menu__over {
					display: block;
				}
			}
		}
		&__sphere {
			display: block;
			position: absolute;
			bottom: 20px;
			right: -100px;
			width: 500px;
			max-width: none;
		}
	}
}