.modal {
	display: none;
	background-color: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	z-index: 10;
	&_body {
		width: 100%;
		max-height: 100%;
		padding: 10px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%) scale(0, 0);
		opacity: 0;
		transition: .5s;
	}
	&-content, &_content {
		padding: 20px;
		position: relative;
		background-color: #fff;
	}
	&_close {
		width: 50px;
		height: 50px;
		position: absolute;
		top: 20px;
		right: 20px;
		cursor: pointer;
		user-select: none;
		&:after,&:before {
			content: '';
			display: block;
			width: 50%;
			height: 3px;
			background-color: $black;
			position: absolute;
			top: 50%;
			left: 50%;
			transition: 0.3s;
		}
		&:after {
			transform: translate(-50%,-50%) rotate(45deg);
		}
		&:before {
			transform: translate(-50%,-50%) rotate(-45deg);
		}
		&:hover {
			&:after,&:before {
				background-color: $blueT;
			}
		}
	}
	&.open {
		.modal_body {
			transform: translate(-50%,-50%) scale(1, 1);
			opacity: 1;
		}
	}
	@media (max-width: $break_lg) {
		&_close {
			width: 40px;
			height: 40px;
			top: 0;
			right: 0;
		}
	}
}