.section12 {
  &__container {
    max-width: 1600px;
    padding: 24px 50px;
    margin-left: auto;
    margin-right: auto;
    background-color: $blue;
    border-radius: 250px;
  }
  .title {
    margin-bottom: 65px;
  }
  .row {
    margin-top: -46px;
    margin-bottom: 20px;
    margin-left: -50px;
  }
  &__col {
    @include col(6);
    @include col-xs(12);
    margin-top: 46px;
    padding-left: 50px;
  }
  &__item {
    display: flex;
  }
  &__icon {
    flex-shrink: 0;
    width: 70px;
    text-align: center;
    margin-right: 20px;
  }
  &__content {
    h3 {
      margin-bottom: 10px;
      font-size: 30px;
    }
    p {
      font-size: 21px;
      line-height: 1.2;
    }
  }
  &__important {
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 56px;
  }
  &__imptitle {
    font-size: 28px;
    font-weight: bold;
  }
  &__imptext {
    font-size: 24px;
  }
  &__priceblock {

  }
  &__priceitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 25px 19px 50px;
    background-color: $blueL;
    transition: 0.5s;
    border-radius: 50px;
    margin-bottom: 20px;
    cursor: pointer;
    user-select: none;
    &:hover {
      background-color: #fff;
      .btn {
        background-color: #EC5E39;
      }
    }
  }
  &__name {
    width: 250px;
    font-size: 30px;
    &--small {
      font-size: 24px;
    }
  }
  &__price {
    font-size: 30px;
    font-weight: bold;
  }
  @media (max-width: $break_lg) {
    &__container {
      border-radius: 200px;
      padding: 30px 20px;
    }
    &__content {
      h3 {
        font-size: 24px;
      }
    }
    &__imptitle {
      font-size: 24px;
    }
    &__imptext {
      font-size: 20px;
    }
    &__name {
      width: 200px;
      font-size: 24px;
      &--small {
        font-size: 20px;
      }
    }
    &__price {
      font-size: 24px;
    }
  }
  @media (max-width: $break_sm) {
    &__container {
      border-radius: 70px;
    }
    &__content {
      h3 {
        font-size: 20px;
      }
      p {
        font-size: 18px;
      }
    }
    &__item {
      display: block;
      text-align: center;
    }
    &__icon {
      display: flex;
      align-items: center;
      height: 80px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 10px;
    }
    .row {
      margin-top: -30px;
      margin-bottom: 40px;
    }
    &__col {
      margin-top: 30px;
    }
    &__priceblock {
    }
    &__priceitem {
      display: flex;
      flex-wrap: wrap;
      padding: 10px 20px 10px 30px;
    }
    &__name {
      width: 100%;
      font-size: 20px;
      text-align: center;
      margin-bottom: 20px;
      &--small {
        font-size: 20px;
      }
    }
    &__price {
      font-size: 20px;
    }
    &__imptitle {
      font-size: 20px;
    }
    &__imptext {
      font-size: 18px;
    }
  }
  @media (max-width: $break_xs) {
    &__container {
      padding: 30px 0;
    }
    &__priceitem {
      display: block;
      text-align: center;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
    &__name {
      width: 100%;
      margin-bottom: 10px;
    }
    &__price {
      margin-bottom: 20px;
    }
  }
}