.section4 {
  padding: 35px 0;
  .wrapper {
    max-width: 1400px;
    position: relative;
    z-index: 3;
  }
  .title {
    margin-bottom: 74px;
  }
  &__col {
    @include col(6);
    @include col-sm(12);
    margin-bottom: 76px;
  }
  &__item {
    display: flex;
  }
  &__icon {
    width: 150px;
    margin-right: 36px;
    text-align: center;
    flex-shrink: 0;
  }
  &__content {
    
  }
  &__title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  &__list {
    line-height: 1.5;
    li {
      padding-left: 20px;
      position: relative;
      &:after {
        content: '';
        display: block;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: $black;
        position: absolute;
        top: 13px;
        left: 0;
      }
    }
  }
  @media (max-width: $break_lg) {
    &__title {
      font-size: 20px;
    }
    &__icon {
      width: 100px;
      img {
        width: 60px;
      }
      &--big {
        img {
          width: 90px;
        }
      }
    }
  }
  @media (max-width: $break_sm) {
    &__title {
      font-size: 18px;
    }
  }
  @media (max-width: $break_xs) {
    .title {
      margin-bottom: 50px;
    }
    &__item {
      flex-wrap: wrap;
    }
    &__icon {
      width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }
    &__title {
      text-align: center;
    }
    &__col {
      margin-bottom: 40px;
    }
  }
}