.section11 {
  padding: 83px 0 0;
  background-color: $blue;
  position: relative;
  .wrapper {
    max-width: 1120px;
  }
  &:before {
    content: '';
    display: block;
    background-color: #fff;
    border-radius: 0 230px 0 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }
  .title {
    margin-bottom: 10px;
  }
  .row {
    padding: 102px 0 215px;
    margin-left: -50px;
    position: relative;
  }
  &__col {
    @include col(4);
    @include col-sm(12);
    padding-left: 50px;
    &:nth-child(2) {
      transform: translate(0,80px);
    }
  }
  &__item {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 60px 30px;
    background-color: $blueL;
    border-radius: 50px;
    position: relative;
  }
  &__text {
    font-size: 24px;
    line-height: 1.2;
    position: relative;
    z-index: 2;
  }
  &__num {
    font-family: "Roboto", sans-serif;
    font-size: 96px;
    font-weight: bold;
    color: #ACD9F1;
    position: absolute;
    top: 0;
    right: 0;
  }
  &__arrow {
    position: absolute;
    width: 39%;
    &--1 {
      top: -20px;
      right: 47%;
    }
    &--2 {
      bottom: 0;
      left: 47%;
    }
  }
  &__sphere {
    width: 1000px;
    position: absolute;
    left: 50%;
    bottom: -400px;
    z-index: 3;
    transform: translate(-50%,0);
  }
  @media (max-width: $break_lg) {
    &__text {
      font-size: 20px;
    }
  }
  @media (max-width: $break_md) {
    .row {
      margin-left: -20px;
    }
    &__col {
      padding-left: 20px;
    }
    &__item {
      padding: 60px 20px;
    }
  }
  @media (max-width: $break_sm) {
    &:before {
      border-radius: 0 70px 0 0;
    }
    .row {
      padding: 50px 0;
    }
    &__arrow {
      display: none;
    }
    &__col {
      margin-bottom: 20px;
      &:nth-child(2) {
        transform: translate(0,0);
      }
    }
    &__text {
      font-size: 18px;
    }
  }
}