.section3 {
  padding: 22px 0 72px;
  background-color: #fff;
  position: relative;
  &:before {
    content: '';
    display: block;
    background-color: $blue;
    border-radius: 0 230px 230px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &__sphere {
    position: absolute;
    top: -50px;
    right: -50px; 
    z-index: 2;
  }
  .wrapper {
    position: relative;
    z-index: 3;
  }
  .title {
    margin-bottom: 47px;
  }
  &__col {
    @include col(4);
    @include col-sm(6);
    @include col-xs(12);
    margin-bottom: $gutter;
    &:nth-child(2n) {
      .section3__item {
        background-color: $blueD;
      }
    }
  }
  &__item {
    height: 100%;
    padding: 25px;
    background-color: $blueL;
    border-radius: 50px;
    position: relative;
  }
  &__num {
    font-weight: bold;
    font-size: 96px;
    color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 25px;
    right: 0;
  }
  &__title {
    padding-right: 60px;
    font-weight: bold;
    line-height: 1.3;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
  &__text {
    line-height: 1.5;
  }
  @media (max-width: $break_lg) {
    &__num {
      font-size: 60px;
    }
  }
  @media (max-width: $break_sm) {
    &:before {
      border-radius: 0 70px 70px 0;
    }
  }
}