/* settings */
html {
  height: 100%;
}
a {
  transition: .3s;
  text-decoration: none;
}
button,
input,
textarea {
  font-family: "Arial", sans-serif;
  font-size: 21px;
  color: $black;
}
body {
  height: 100%;
  min-width: 319px;
  background-color: #fff;
  font-family: "Arial", sans-serif;
  font-size: 21px;
  color: $black;
  &.lock {
    position: fixed;
  }
}
.mobile-hide {
  @media (max-width: $break_sm) {
    display: none !important;
  }
}
.mobile-visible {
  @media (min-width: $break_sm + 1) {
    display: none !important;
  }
}
.img-responsive {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &:after {
    content: '';
    display: block;
    padding-top: 56.25%;
  }
}
.row {
  @include row-flex();
}
.wrapper {
  @include wrapper();
}
*:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
}
*::placeholder {
  color: #a9a9a9;
  opacity: 1;
}
.page {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &--gradient {
    background: linear-gradient(to bottom, #E8E8E6, #fff 1000px);
  }
}
.content {
  flex-grow: 1;
}
.btn {
  display: inline-block;
  padding: 18px 32px;
  font-size: 21px;
  border-radius: 20px;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  background-color: #fff;
  &--transparent {
    color: #B3624B;
    border: 1px solid #B3624B;
    &:hover {
      background-color: #B3624B;
      color: #fff;
    }
  }
  &--brown {
    background-color: #EE8365;
    color: #fff;
    &:hover {
      background-color: #EC5E39;
    }
  }
}
.title {
  font-weight: bold;
  font-size: 55px;
  line-height: 66px;
  color: #353535;
  text-transform: uppercase;
  &--center {
    text-align: center;
  }
}
/* /settings */